<html>
<body><br></br><br></br><br></br>
<div align="center">
    <form method="post" action="login">
     {% csrf_token %}
    <h1>LOGIN FORM</h1>
    <br>
    Username: <input name="username" type="text"> </input>
    </br>
    <br>
    Password: <input name="password" type="text"> </input>
    </br>
    <br>
    <input name="submit" type="submit" width="80">
    </br>
    </form>
</div>
<div>
    <br></br>
    {% for message in messages%}
       <h3 align="center"> {{message}} </h3>
    {% endfor %}
</div>
</body>
</html>
